<?xml version="1.0" encoding="UTF-8"?><widget id="A6024972884277" version="0.0.1">    <name>引擎测试用例</name>    <content src="index.html"/>    <preference name="pageBounce" value="false"/>    <preference name="appBackground" value="#FFF"/>    <preference name="autoUpdate" value="true"/>    <preference name="smartUpdate" value="false"/>    <preference name="debug" value="true"/>    <preference name="statusBarAppearance" value="true"/>    <preference name="checkSslTrusted" value="false" />    <access origin="*"/></widget>